SALEOR_PROD_API_URL=https://customer.example.com/graphql/
SALEOR_PROD_TOKEN=

SALEOR_SANDBOX_API_URL=https://sandbox.example.com/graphql/
SALEOR_SANDBOX_TOKEN=

SALEOR_SOURCE_DIR=/Users/adrianpilarczyk/Code/saleor/saleor
SALEOR_DOCS_DIR=/Users/adrianpilarczyk/Code/saleor/saleor-docs
